<!-- primer dugme -->

<!-- <section>
  <button mat-raised-button color="primary">Click me!</button>
</section> -->

<!--<section>

      <button mat-icon-button color="accent">
          <mat-icon>home</mat-icon>
      </button>
</section>-->

<!-- flex layout -->
<!--<section id="container">
    <div id="child1" class="child"></div>
    <div id="child2" class="child"></div>
    <div id="child3" class="child"></div>
</section>-->



<mat-sidenav-container>
  <mat-sidenav #sidenav opened="true">
    <mat-nav-list>

      <a mat-list-item routerLink="/signup" (click)="sidenav.close()">
        <mat-icon>account_circle</mat-icon>Signup
      </a>
      <a mat-list-item routerLink="/login" (click)="sidenav.close()">
        <mat-icon>password</mat-icon>Login
      </a>
      <a mat-list-item routerLink="/training" (click)="sidenav.close()">
        <mat-icon>sports_gymnastics</mat-icon>Training
      </a>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">
        <mat-icon>logout</mat-icon>logout
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">

      <div>
        <a routerLink="/">Logo</a>
      </div>
      <div>
        <button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div fxFlex fxLayoutAlign="end" fxLayoutGap="10px" fxHide.xs>

        <a routerLink="/signup">Signup</a>
        <a routerLink="/login">Login</a>
        <a routerLink="/training">Training</a>
        <button mat-raised-button color="warn" (click)="openProfile(this.userService.currentUser.id)">{{
          this.userService.currentUser.email }}</button>

      </div>
    </mat-toolbar>

    <router-outlet></router-outlet>

  </mat-sidenav-content>
</mat-sidenav-container>